<% title "Service Requests" %>
<div class='first-pane'>
	<p class='title_img'>Service Requests</p>
</div>
<div class='pane'>
	<div id="service-requests">
		<div id="assets">
	<%= render 'service_requests' %>
	</div>
	</div>
</div>
<%= render '/utils/debug' %>
